
:root {
  --purple: #7829f1;
  --primary-color: #707070;
  /* --bg-green: #a8e1d7; */
   --bg-green: #7AB1A8;
  --sand: #faf9f5;
  /* --sand: #a8e1d7; */
}

* {
  box-sizing: border-box;
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: var(--purple);
  font-size: 50px;
  margin: 0;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  color: var(--purple);
  font-size: 18px;
  margin: 0;
}

p {
  font-family: 'Varela Round', sans-serif;
  color: var(--primary-color);
  margin: 0;
}

body {
  background: var(--bg-green);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 1000px;
  height: 500px;
  background: var(--sand);

  display: flex;
  border-radius: 8px;
}

.menu {
  width: 70px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu .selected {
  width: 100%;
  height: 70px;
  padding: 10px;
  color: var(--purple);
  transition: .6s ease ;
}

svg {
  width: 100%;
  height: 30px;
}

.selected {
  color: var(--purple);
}

.board-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.board {
  background: #fff;
  width: 600px;
  height: 370px;
  padding: 0 30px;

  box-shadow: -13px  10px 10px 0px rgba(32, 33, 36, .28);

  position: absolute;
  right: 30px;
  border-radius: 80px;

  display: flex;

  animation: board-right-grow 1s;

}

.flex-board {
  width: 600px;
  height: 370px;
  background: var(--purple);
  border-radius: 80px;

  position: absolute;
  right: 280px;
  
}


.illustration {
  width: 200px;

  position: absolute;
  top: -50px;
  left: 50px;
  opacity: 1;
}

.flex-board-open {
  animation: board-right-grow 0.6s ease 0s forwards ;
}

.flex-board-close {
  animation: board-right-shrink 0.6s ease 0s forwards ;
}

.flex-board-open .illustration {
  animation: show 0.5s   forwards;
}

.flex-board-close .illustration {
  animation: hide 0.5s forwards;
}

.board-left, .board-right {
  width: 50%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.info-img {
  margin-top: 15px;
  height: 150px;
  border-radius: 16px;
}

.inline-content {
  display: flex;
  align-items: center;
}

.inline-content svg {
  margin: 0 5px;
}

.header svg {
  color: var(--purple);
  width: 30px;
  height: 30px;
}

.subheader svg {
  color: var(--primary-color);
}

.board-right p {
  margin: 5px 0;
}

.board-right h2 {
  margin: 20px 0;
}

.board-left  .card {
  height: 100%;
  padding: 40px;
}
.board-right  .card {
  height: 100%;
  padding: 40px;
}

@keyframes board-right-grow {
  0% {
    width: 0;
  }
  100% {
    width: 600px;
  }
}

@keyframes board-right-shrink {
  0%{
    width: 600px;
  }
  100% {
    width: 0px;
  }
}


@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
